.slider__button {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 22px solid #ffc546;
  position: absolute;
  bottom: 0;
  left: 4px;
}